// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

.container {
  width: calc(100% - #{$gutter});
  max-width: $max-content-width;
  margin: 0 auto;
}

.content-box {
  padding: 5 * $gutter 0;
}

.app {
  width: 100%;
}
