@media screen and (max-width: 769px) {
  .hero {
    &-title {
      font-size: 5rem;
    }

    &-subtitle {
      font-size: 1rem;
    }
  }

  .divider {
    &-title {
      font-size: 3rem;
    }
  }

  .columns {
    width: 100%;
    margin: 0;
  }

  .column {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
