@media screen and (max-width: 769px) {
  .hero {
    &-title {
      font-size: 5rem;
    }

    &-subtitle {
      font-size: 1rem;
    }
  }

  .divider {
    &-title {
      font-size: 3rem;
    }
  }
}
